.whatsapp-link {
  position: fixed;
  bottom: 4px;
  right: 4px;
  z-index: 100;

  a {
    img {
      display: block;
      width: 100%;
      height: auto;

      &:hover {
        transform: translateY(-5px);
      }
    }
  }
}
