---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Cursos ATLANTIDA Diving School"
  description="Todos los cursos de buceo PADI en un solo lugar, Bragado 5950 CABA, Mataderos, tel.: 1559790203 / 1549396268, mail: info@divingschool.com.ar"
>
  <section>
    <h1>CURSOS</h1>
    <a href="/cursos/open-water-diver">Open Water Diver</a>
  </section>
</Layout>
