---
import { info } from "../../data/data.json";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title=`Cursos ${info.name}`
  description=`Todos los cursos de buceo PADI en un solo lugar, ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <section>
    <h1>CURSOS</h1>
    <a href="/cursos/open-water-diver">Open Water Diver</a>
  </section>
</Layout>

<style></style>
