---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Open Water Diver ATLANTIDA Diving School"
  description="Curso Open Water Diver, Bragado 5950 CABA, Mataderos, tel.: 1559790203 / 1549396268, mail: info@divingschool.com.ar"
>
  <section>
    <h1>OPEN WATER DIVER</h1>
  </section>
</Layout>
