@import "../variables";

.homepage-hero {
  &__container {
    position: relative;
    max-width: 1920px;
    margin-inline: auto;
  }

  &__background {
    img {
      display: block;
      width: 100%;
    }
  }

  &__links {
    position: absolute;
    left: 16px;
    right: 16px;
    top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--padi {
      width: 18%;

      img {
        display: block;
        width: 100%;
      }
    }

    &--dan {
      width: 27%;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &__carousel {
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    color: $font-color-min;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (width > 768px) {
  .homepage-hero {
    &__links {
      left: 33%;
      right: 16px;
      bottom: 16px;
      align-items: flex-end;
    }

    &__carousel {
      top: 16px;
      bottom: 16px;
      left: 16px;
      width: 29%;
    }
  }
}

/***********************************/

.homepage-school {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    h1 {
      margin: 0 0 8px 0;
      font-size: 94px;
      line-height: 65px;
    }

    h2 {
      margin-bottom: 32px;
    }
  }

  &__video {
    display: flex;
    align-content: flex-end;
    width: 100%;
    max-width: 480px;
    box-shadow: $box-shadow-primary;

    iframe {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }
  }
}

@media (width > 768px) {
  .homepage-school {
    &__container {
      flex-direction: row;
      column-gap: 72px;
    }
  }
}

/***********************************/

.homepage-courses {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
  }

  &__title {
    margin: 0;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 24px;
    margin-bottom: 16px;

    a {
      display: inline-block;

      img {
        display: block;
        width: 100%;
        border-radius: 4px;
        box-shadow: $box-shadow-primary;
        transition: 0.25s;

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
}

@media (width > 768px) {
  .homepage-courses {
    &__links {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 32px;
    }
  }
}

/***********************************/

.homepage-checkout {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    h2 {
      font-size: 72px;
      line-height: 52px;
      margin: 0;
    }

    h3 {
      margin: 0 0 32px 0;
    }
  }

  &__video {
    display: flex;
    align-content: flex-end;
    width: 100%;
    max-width: 480px;
    box-shadow: $box-shadow-primary;

    iframe {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }
  }
}

@media (width > 768px) {
  .homepage-checkout {
    &__container {
      flex-direction: row;
      column-gap: 72px;
    }
  }
}

/***********************************/

.homepage-contact {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
  }

  &__title {
    margin: 0;
  }

  &__info {
    max-width: 700px;

    p {
      margin-bottom: 16px;
    }

    ul {
      padding-left: 8px;

      li span {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 8px;
        height: 100%;
      }
    }
  }
}

/***********************************/

.homepage-trips {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
  }

  &__title {
    margin: 0;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 32px;

    img {
      display: block;
      width: 100%;
      border-radius: 4px;
      box-shadow: $box-shadow-primary;
    }
  }
}

@media (width > 768px) {
  .homepage-trips {
    &__gallery {
      grid-template-columns: repeat(2, 1fr);
      max-width: 850px;
    }
  }
}

@media (width > 992px) {
  .homepage-trips {
    &__gallery {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1200px;
    }
  }
}
