@import "../variables";

.welcome {
  position: relative;

  &__background {
    img {
      display: block;
      width: 100%;
    }
  }

  &__links {
    position: absolute;
    left: 16px;
    right: 16px;
    top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &--padi {
      width: 18%;

      img {
        display: block;
        width: 100%;
      }
    }

    &--dan {
      width: 27%;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &__carousel {
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    color: $font-color-min;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (width > 768px) {
  .welcome {
    &__links {
      left: 33%;
      right: 16px;
      bottom: 16px;
      align-items: flex-end;
    }

    &__carousel {
      top: 16px;
      bottom: 16px;
      left: 16px;
      width: 29%;
    }
  }
}
