/*********************/
/***** Generales *****/
/*********************/

// screen
$screen-max-width: 1400px;
$screen-padding-inline: 16px;
$screen-margin: 0 auto;

//layout => nav
$nav-height: 64px;
$nav-padding-block: 6px;
$nav-height-content: $nav-height - $nav-padding-block * 2;

//layout => sections
$section-padding-top: 32px;
$section-padding-block: 96px;

// font
$font-family: "Nunito Variable", sans-serif;
$font-style: normal;
$font-letter-spacing: normal;
$font-size: 16px;

//titles
$h1-font-size: $font-size * 3.6;
$h2-font-size: $h1-font-size * 0.85;
$h3-font-size: $h1-font-size * 0.7;
$h1-margin-bottom: $h1-font-size * 0;
$h2-margin-bottom: $h2-font-size * 0;
$h3-margin-bottom: $h3-font-size * 0;

// font-colors
$font-color-max: #111111;
$font-color-mid: #666666;
$font-color-min: #eeeeee;

// colors
$color-primary: rgb(0, 104, 120);
$color-secondary: rgb(220, 0, 84);
$color-body-primary: #f2f2f2;
$color-body-secondary: #eaeaea;
$color-footer: #d9d9d9;

//shadow
$box-shadow-primary: 0 4px 8px 0 rgba(0, 104, 120, 0.35);
$box-shadow-secondary: 0 4px 8px 0 rgba(220, 0, 84, 0.35);

//--color-text-ligth: rgb(250, 250, 250);
//--color-text-ligth-hover: rgb(229, 229, 229);
//--color-text-dark: rgb(10, 10, 10);
//--color-text-dark-hover: var(--color-primary);
//--color-primary-body: #f2f2f2;
//--color-secondary-body: #eaeaea;
//--color-footer: #d9d9d9;

/************* HASTA ACA *****************/

/***** form *****/
$form-font-family: $font-family;
$form-font-style: $font-style;
$form-font-weight: 300;
$form-letter-spacing: $font-letter-spacing;
$form-color: $font-color-max;

//placeholder
$form-placeholder-font-weight: 200;

//focus
$form-focus-outline: $color-secondary solid thin;

/***** button *****/
$button-bg-color: $color-secondary;
