@import "../../styles/variables";

.carousel {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__content {
    position: relative;
    width: 100%;
    overflow: hidden;

    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }

  &__item {
    position: relative;
    display: none;
    float: left; /* REVISAR */
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; /* REVISAR */
    transition: transform 0.6s ease-in-out;

    &.active,
    &--next,
    &--prev {
      display: block;
    }

    &--title {
      font-size: clamp(30px, 3.5vw, 56px);
      text-align: left;
    }

    &--description {
      padding-right: 16px;
      font-size: clamp(14px, 2.8vw, 28px);
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    column-gap: 16px;

    & button {
      border: none;
      background: #bbbbbb;
      cursor: pointer;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }

    & .active {
      background: #727272;
    }
  }

  &__controls {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & button {
      border: none;
      background: rgba(0, 0, 0, 0.5);

      & svg {
        display: block;
        width: 36px;
        height: auto;
        color: $font-color-min;
      }
    }
  }
}

.carousel__item--next:not(.carousel__item--start),
.active.carousel__item--end {
  transform: translateX(100%);
}

.carousel__item--prev:not(.carousel__item--end),
.active.carousel__item--start {
  transform: translateX(-100%);
}

@media (width > 768px) {
  .carousel__item--title {
    font-size: clamp(38px, 3.5vw, 56px);
  }

  .carousel__item--description {
    font-size: clamp(16px, 2vw, 28px);
  }
}
