---
import Layout from "../layouts/Layout.astro";
---

<Layout 
    title="Checkout ATLANTIDA Diving School"
    description="Certificate con nosotros en nuestra cantera El Buda a solo 50Km de CABA, tel.: 1559790203 / 1549396268, mail: info@divingschool.com.ar" >
    
    <h1>BUDA</h1>

</Layout>