---
import { info } from "../data/data.json";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title=`Checkout ${info.name}`
  description=`Certificate con nosotros en nuestra cantera El Buda a solo 50Km de CABA, Tel.: ${info.phone}, mail: ${info.email}`
>
  <section>
    <h1>BUDA</h1>
  </section>
</Layout>
