---
import Layout from "../layouts/Layout.astro";
---

<Layout 
    title="Contacto ATLANTIDA Diving School"
    description="Ponte en contacto con nosotros y empezá hoy tu curso de buceo PADI, Bragado 5950 CABA, Mataderos, tel.: 1559790203 / 1549396268, mail: info@divingschool.com.ar" >
    
    <h1>CONTACTO</h1>

</Layout>