---
import { info } from "../data/data.json";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title=`Contacto ${info.name}`
  description=`Ponte en contacto con nosotros y empezá hoy tu curso de buceo PADI, ${info.address}, Tel.: ${info.phone}, mail: ${info.email}`
>
  <section>
    <h1>CONTACTO</h1>
  </section>
</Layout>
