---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
  title="Buceo ATLANTIDA Diving School"
  description="Primer PADI Dive Center (#19636) de la Argentina, Centro Internacional de Buceo, Bragado 5950 CABA, Mataderos, tel.: 1559790203 / 1549396268, mail: info@divingschool.com.ar"
>
  <!-- Sección de bienvenida -->
  <section>
    <SectionContainer>Sección de bienvenida / FOTO DE BIENVENIDA + SLIDER</SectionContainer>
  </section>

  <!-- Sección de presentación de nuestro centro de buceo -->
  <section class="container__main intro__escuela">
    <SectionContainer>Sección de presentación de nuestro centro de buceo</SectionContainer>
  </section>

  <!-- Sección de introducción a los cursos y especialidades -->
  <section class="container__main bkgATLBodyCont intro__cursos">
    <SectionContainer>Sección de introducción a los cursos y especialidades</SectionContainer>
  </section>

  <!-- Sección de intro al Buda -->
  <section class="container__main intro__buda"><SectionContainer>Sección de intro al Buda</SectionContainer></section>

  <!-- Sección de intro a viajes -->
  <section class="container__main bkgATLBodyCont intro__viajes">
    <SectionContainer>Sección de intro a viajes</SectionContainer>
  </section>

  <!-- Sección de contacto -->
  <section class="container__main intro__contacto"><SectionContainer>Sección de contacto</SectionContainer></section>

  <style></style>
</Layout>
