---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="Buceo ATLANTIDA Diving School"
  description="Primer PADI Dive Center (#19636) de la Argentina, Centro Internacional de Buceo, Bragado 5950 CABA, Mataderos, tel.: 1559790203 / 1549396268, mail: info@divingschool.com.ar"
>
  <section></section>
</Layout>

<style></style>
