---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Buceo ATLANTIDA Diving School"
  description="Primer PADI Dive Center (#19636) de la Argentina, Centro Internacional de Buceo, Bragado 5950 CABA, Mataderos, tel.: 1559790203 / 1549396268, mail: info@divingschool.com.ar"
>
  <section>
    <h1>FUENTE ATLANTIDA H1</h1>
    <h2>FUENTE ATLANTIDA H2</h2>
    <h3>FUENTE ATLANTIDA H3</h3>
    <h1>FUENTE ATLANTIDA H1</h1>
    <h2>FUENTE ATLANTIDA H2</h2>
    <h3>FUENTE ATLANTIDA H3</h3>
    <h1>FUENTE ATLANTIDA H1</h1>
    <h2>FUENTE ATLANTIDA H2</h2>
    <h3>FUENTE ATLANTIDA H3</h3>
    <h1>FUENTE ATLANTIDA H1</h1>
    <h2>FUENTE ATLANTIDA H2</h2>
    <h3>FUENTE ATLANTIDA H3</h3>
    <h1>FUENTE ATLANTIDA H1</h1>
    <h2>FUENTE ATLANTIDA H2</h2>
    <h3>FUENTE ATLANTIDA H3</h3>
  </section>
</Layout>

<style></style>
