---
import { info } from "@data/data.json";
import { trips } from "@data/trips.json";
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import ImgTrip from "@components/ImgTrip.astro";
import ButtonUp from "@components/ButtonUp.astro";
---

<Layout
  title=`Viajes ${info.name}`
  description=`Viajá con nosotros a disfrutar de los mejores sitios de buceo del mundo, Tel.: ${info.phone}, mail: ${info.email}`
>
  <SectionContainer class="pt-3 pb-6">
    <h1 class="pb-3">
      {`Cumplimos ${new Date().getFullYear() - 1986} años llevando gente a bucear!!!`}
    </h1>

    <div class="trips__gallery">
      {
        trips.map((trip) => {
          return <ImgTrip trip={trip} />;
        })
      }
    </div>
  </SectionContainer>

  <ButtonUp />
</Layout>

<style lang="scss">
  @import "@styles/variables";

  .trips__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0px, 380px));
    gap: 4px;
    width: 100%;
    justify-content: center;
  }
</style>
