---
import { info } from "../data/data.json";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title=`Viajes ${info.name}`
  description=`Viajá con nosotros a disfrutar de los mejores sitios de buceo del mundo, Tel.: ${info.phone}, mail: ${info.email}`
>
  <section>
    <h1>VIAJES</h1>
  </section>
</Layout>
