---
import ArrowNarrowRight from "@icons/ArrowNarrowRight.astro";

interface Props {
  course: {
    name: string;
    description: string;
    page: string;
    thumbnail: string;
  };
}
const { course } = Astro.props;
---

<article>
  <img src=`/img/cursos/${course.thumbnail}` alt={course.name + " - " + course.description} loading="lazy" />
  <!-- <img class="logo" src="/img/logo-padi-transp-black.webp" alt="Logo PADI" title="Logo PADI" /> -->
  <img class="logo" src="/img/logo-padi-transp-color.webp" alt="Logo PADI" title="Logo PADI" />
  <div class="content">
    <h3>{course.name}</h3>
    <p>{course.description}</p>
  </div>
  <a href=`/cursos/${course.page}`>
    <span>
      Ver curso <ArrowNarrowRight />
    </span>
  </a>
</article>

<style lang="scss">
  @import "@styles/variables";

  article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 24px;
    padding-bottom: 24px;
    max-width: 350px;
    box-shadow: $box-shadow-primary;

    img {
      display: block;
      width: 100%;
    }

    .logo {
      position: absolute;
      right: 2px;
      top: 2px;
      max-width: 48px;
      //background-color: rgba(#fff, 0.2);
      padding: 2px;
    }

    .content {
      padding-inline: 24px;

      h3 {
        font-family: $font-family;
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        color: $color-primary;
        margin-bottom: 8px;
      }

      p {
        max-width: 250px;
      }
    }

    a {
      margin-inline: 24px;
      display: inline-block;
      border-width: 2px;
      border-style: solid;
      border-color: $color-primary;
      font-size: $font-size;
      font-weight: 600;
      width: auto;
      height: 48px;
      line-height: 48px;
      padding-inline: 24px;
      background-color: $color-primary;
      color: $font-color-min;
      transition:
        color 0.2s ease,
        background 0.2s ease;

      &:hover {
        background-color: $font-color-min;
        color: $color-primary;
      }

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
        height: 100%;
      }
    }
  }
</style>
