---
// <slot name="after-header" />
---

<div class="carousel__container">
  <ul class="carousel__content">
    <li class="carousel__item active">
      <img src="/img/cursos/owd/pileta001.webp" alt="Pileta climatizada" />
    </li>
    <li class="carousel__item">
      <img src="/img/cursos/owd/pileta002.webp" alt="Pileta climatizada" />
    </li>
    <li class="carousel__item">
      <img src="/img/cursos/owd/pileta003.webp" alt="Pileta climatizada" />
    </li>
    <li class="carousel__item">
      <img src="/img/cursos/owd/pileta004.webp" alt="Pileta climatizada" />
    </li>
  </ul>
  <nav class="carousel__pagination">
    <button class="active"></button>
    <button></button>
    <button></button>
    <button></button>
  </nav>
  <div class="carousel__controls">
    <button id="carousel__controls-prev" class="carousel__controls-prev"
      ><svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg
      ></button
    >
    <button id="carousel__controls-next" class="carousel__controls-next"
      ><svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg
      ></button
    >
  </div>
</div>

<style lang="scss">
  @import "../styles/variables";

  button {
    cursor: pointer;
  }

  .carousel {
    &__container {
      position: relative;
      /* width: 100%;
      height: 100%; */
    }

    &__content {
      position: relative;
      width: 100%;
      overflow: hidden;

      &::after {
        display: block;
        clear: both;
        content: "";
      }
    }

    &__item {
      position: relative;
      display: none;
      float: left;
      width: 100%;
      margin-right: -100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform 0.6s ease-in-out;

      &.active,
      &--next,
      &--prev {
        display: block;
      }

      // SACAR AFUERA
      &--title {
        font-size: clamp(30px, 3.5vw, 56px);
        text-align: left;
        margin-bottom: 0;
      }
      // SACAR AFUERA
      &--description {
        padding-right: 16px;
        font-size: clamp(14px, 2.8vw, 28px);
      }
      // SACAR AFUERA
      // SACAR AFUERA
      & img {
        display: block;
        width: 100%;
      }
      // SACAR AFUERA
    }

    &__pagination {
      position: absolute;
      bottom: 8px;
      width: 100%;
      display: flex;
      justify-content: center;
      column-gap: 16px;

      & button {
        border: none;
        background: #bbbbbb;
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }

      & .active {
        background: #727272;
      }
    }

    &__controls {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;

      & button {
        border: none;
        background: rgba(0, 0, 0, 0.5);

        & svg {
          display: block;
          width: 32px;
          height: auto;
          color: $font-color-min;
        }
      }
    }
  }

  .carousel__item--next:not(.carousel__item--start),
  .active.carousel__item--end {
    transform: translateX(100%);
  }

  .carousel__item--prev:not(.carousel__item--end),
  .active.carousel__item--start {
    transform: translateX(-100%);
  }

  @media (width > 768px) {
    .carousel__item--title {
      font-size: clamp(38px, 3vw, 56px);
    }

    .carousel__item--description {
      font-size: clamp(16px, 1.5vw, 28px);
    }
  }
</style>

<script>
  const SELECTOR_CAROUSEL = "carousel__container";
  const SELECTOR_ITEM = "carousel__item";
  const SELECTOR_BTN_PAGINATION = "carousel__pagination";
  const SELECTOR_BTN_NEXT = "carousel__controls-next";
  const SELECTOR_BTN_PREV = "carousel__controls-prev";
  const CLASS_NAME_ACTIVE = "active";
  const CLASS_NAME_START = "carousel__item--start";
  const CLASS_NAME_END = "carousel__item--end";
  const CLASS_NAME_NEXT = "carousel__item--next";
  const CLASS_NAME_PREV = "carousel__item--prev";
  const INTERVAL = 5000;

  class Carousel {
    items: HTMLCollectionOf<HTMLElement>;
    btnPagination: HTMLCollectionOf<HTMLElement>;
    btnPrev: HTMLCollectionOf<HTMLElement>;
    btnNext: HTMLCollectionOf<HTMLElement>;
    intervalId: number;
    orderIndex: number;
    isMoving: boolean;
    numberOfItems: number;
    withPagination: boolean;

    constructor(
      items: HTMLCollectionOf<HTMLElement>,
      btnPagination: HTMLCollectionOf<HTMLElement>,
      btnPrev: HTMLCollectionOf<HTMLElement>,
      btnNext: HTMLCollectionOf<HTMLElement>
    ) {
      this.items = items;
      this.btnPagination = btnPagination;
      this.btnPrev = btnPrev;
      this.btnNext = btnNext;
      this.intervalId = 0;
      this.orderIndex = -1;
      this.isMoving = false;
      this.numberOfItems = items.length;
      this.withPagination = this.btnPagination.length > 0 && this.btnPagination[0].children.length > 0;

      this._addEventListener();
      this._loop();
    }

    _addEventListener = () => {
      if (this.withPagination) {
        for (let i = 0; i < this.btnPagination[0].children.length; i++) {
          this.btnPagination[0].children[i].addEventListener("click", (event) => {
            event.preventDefault();
            if (!this.isMoving) {
              clearInterval(this.intervalId);
              this._move(i);
              this.intervalId = setInterval(this._loop, INTERVAL);
            }
          });
        }
      }

      if (this.btnPrev.length > 0) {
        this.btnPrev[0].addEventListener("click", (event) => {
          event.preventDefault();
          if (!this.isMoving) {
            clearInterval(this.intervalId);
            this._move((this.orderIndex -= 1));
            this.intervalId = setInterval(this._loop, INTERVAL);
          }
        });
      }

      if (this.btnNext.length > 0) {
        this.btnNext[0].addEventListener("click", (event) => {
          event.preventDefault();
          if (!this.isMoving) {
            clearInterval(this.intervalId);
            this._move((this.orderIndex += 1));
            this.intervalId = setInterval(this._loop, INTERVAL);
          }
        });
      }
    };

    _getActive = () => {
      for (let i = 0; i < this.numberOfItems; i++) {
        if (this.items[i].classList.contains(CLASS_NAME_ACTIVE)) return i;
      }
      return -1;
    };

    _reflow = (element: HTMLElement) => {
      element.offsetHeight;
    };

    _setActivePagination = (n: number) => {
      for (let i = 0; i < this.btnPagination[0].children.length; i++) {
        if (n === i) {
          this.btnPagination[0].children[i].classList.add(CLASS_NAME_ACTIVE);
        } else {
          this.btnPagination[0].children[i].classList.remove(CLASS_NAME_ACTIVE);
        }
      }
    };

    _move = (index: number) => {
      const activeItemIndex = this._getActive();

      if (activeItemIndex === -1 || activeItemIndex === index) return;

      this.isMoving = true;

      const isNext = index > activeItemIndex;

      this.orderIndex = isNext ? (index >= this.numberOfItems ? 0 : index) : index < 0 ? this.numberOfItems - 1 : index;

      const orderClassName = isNext ? CLASS_NAME_NEXT : CLASS_NAME_PREV;
      const directionalClassName = isNext ? CLASS_NAME_START : CLASS_NAME_END;

      this.items[this.orderIndex].classList.add(orderClassName);
      this._reflow(this.items[this.orderIndex]);
      this.items[activeItemIndex].classList.add(directionalClassName);
      this.items[this.orderIndex].classList.add(directionalClassName);

      setTimeout(() => {
        this.items[activeItemIndex].classList.remove(CLASS_NAME_ACTIVE, directionalClassName);
        this.items[this.orderIndex].classList.remove(orderClassName, directionalClassName);
        this.items[this.orderIndex].classList.add(CLASS_NAME_ACTIVE);
        if (this.withPagination) {
          this._setActivePagination(this.orderIndex);
        }
        this.isMoving = false;
      }, 600);
    };

    _loop = () => {
      clearInterval(this.intervalId);
      this._move((this.orderIndex += 1));
      this.intervalId = setInterval(this._loop, INTERVAL);
    };
  }

  const carousels = document.getElementsByClassName(SELECTOR_CAROUSEL) as HTMLCollectionOf<HTMLElement>;

  if (carousels.length > 0) {
    let c = [];

    for (let i = 0; i < carousels.length; i++) {
      const items = carousels[i].getElementsByClassName(SELECTOR_ITEM) as HTMLCollectionOf<HTMLElement>;
      const btnPagination = carousels[i].getElementsByClassName(
        SELECTOR_BTN_PAGINATION
      ) as HTMLCollectionOf<HTMLElement>;
      const btnNext = carousels[i].getElementsByClassName(SELECTOR_BTN_NEXT) as HTMLCollectionOf<HTMLElement>;
      const btnPrev = carousels[i].getElementsByClassName(SELECTOR_BTN_PREV) as HTMLCollectionOf<HTMLElement>;
      c.push(new Carousel(items, btnPagination, btnPrev, btnNext));
    }
  }
</script>
