---
import SectionContainer from "./SectionContainer.astro";
import MenuOpenIcon from "./icons/MenuOpenIcon.astro";
import MenuCloseIcon from "./icons/MenuCloseIcon.astro";
---

<header class="fixed top-0 left-0 w-full bg-primary shadow-md shadow-primary/50 z-50">
  <SectionContainer>
    <nav class="flex justify-between items-center h-navbar">
      <a href="/">
        <img class="h-navbar w-auto py-2" src="/logo-menu.webp" alt="Logo Atlántida Diving School" />
      </a>

      <div
        id="navMenu"
        class="-md:fixed -md:-top-full -md:left-0 -md:w-full -md:bg-primary -md:shadow-md -md:shadow-primary/50 -md:py-8 -md:transition-[top] -md:duration-500)
           md:ml-auto md:shadow-none"
      >
        <ul class="flex flex-col gap-y-4 text-center md:flex-row md:gap-x-5">
          <li><a class="nav__link" href="/">Inicio</a></li>
          <li><a class="nav__link" href="/cursos">Cursos</a></li>
          <li><a class="nav__link" href="/buda">El Buda</a></li>
          <li><a class="nav__link" href="/viajes">Viajes</a></li>
          <li><a class="nav__link" href="/nosotros">Nosotros</a></li>
          <li><a class="nav__link" href="/contacto">Contacto</a></li>
        </ul>
        <button class="nav__close" id="navClose">
          <MenuCloseIcon />
        </button>
      </div>

      <button class="nav__open" id="navOpen">
        <MenuOpenIcon />
      </button>
    </nav>
  </SectionContainer>
</header>

<script>
  const navMenu = document.getElementById("navMenu");
  const navOpen = document.getElementById("navOpen");
  const navClose = document.getElementById("navClose");

  navOpen?.addEventListener("click", (event) => {
    event.stopPropagation();
    navMenu?.classList.add("nav__menu--show");
  });

  navClose?.addEventListener("click", (event) => {
    event.stopPropagation();
    navMenu?.classList.remove("nav__menu--show");
  });

  document.addEventListener("click", (event) => {
    const evento = event as Event;
    evento.stopPropagation();

    const e = event.target as HTMLElement;
    if (navMenu?.classList.contains("nav__menu--show") && !navMenu.contains(e)) {
      navMenu?.classList.remove("nav__menu--show");
    }
  });
</script>

<style>
  .nav__menu--show {
    top: 0;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
  }

  .nav__link {
    color: var(--color-text-ligth);
    font-size: 1.2rem;
  }

  .nav__close,
  .nav__open {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-text-ligth);
  }

  .nav__close {
    position: absolute;
    top: 1.16rem;
    right: 1rem;
  }

  :is(.nav__link, .nav__close, .nav__open):hover {
    color: var(--color-text-ligth-hover);
  }

  /********** large **********/
  @media screen and (min-width: 769px) {
    .nav__list {
      flex-direction: row;
      column-gap: 1.2rem;
    }

    .nav__close,
    .nav__open {
      display: none;
    }
  }
</style>
