---
interface Props {
  href: string;
  colorPrimary: boolean;
}
const { href, colorPrimary } = Astro.props;
const color = colorPrimary ? "primary" : "secondary";
---

<a class={color} href={href}>
  <span>
    <slot />
  </span>
</a>

<style lang="scss">
  @import "../styles/_variables.scss";

  a {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    font-size: $font-size;
    font-weight: 600;
    width: auto;
    height: 48px;
    line-height: 48px;
    padding-inline: 24px;
    transition:
      color 0.2s ease,
      background 0.2s ease;

    &.primary {
      border-color: $color-primary;
      color: $color-primary;

      &:hover {
        background: $color-primary;
        color: $font-color-min;
      }
    }

    &.secondary {
      border-color: $color-secondary;
      color: $color-secondary;

      &:hover {
        background: $color-secondary;
        color: $font-color-min;
      }
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 8px;
      height: 100%;
    }
  }
</style>
