---
import CheckboxIcon from "@icons/CheckboxIcon.astro";
---

<li>
  <span>
    <CheckboxIcon />
  </span>
  <span>
    <slot />
  </span>
</li>

<style>
  li {
    display: flex;
    column-gap: 16px;
  }
</style>
