---
import ScubaMask from "@icons/ScubaMask.astro";
---

<li>
  <span>
    <ScubaMask />
  </span>
  <slot />
</li>

<style lang="scss">
  li {
    display: flex;
    column-gap: 16px;
  }
</style>
