---
const WHATSAPP_LINK = "https://api.whatsapp.com/send?phone=5491159790203";
---

<section class="whatsapp__link">
  <a href={WHATSAPP_LINK} target="_blank">
    <img src="/logo-whatsapp.webp" alt="Link a WhatsApp" />
  </a>
</section>

<style>
  .whatsapp__link {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
  }

  .whatsapp__link a img:hover {
    transform: translateY(-5px);
  }
</style>
