---
const WHATSAPP_LINK = "https://api.whatsapp.com/send?phone=5491159790203";
---

<section class="whatsapp">
  <div class="xlContainer whatsapp__container">
    <a class="whatsapp__link" href={WHATSAPP_LINK} target="_blank">
      <img src="/logo-whatsapp.webp" alt="Link a WhatsApp" />
    </a>
  </div>
</section>

<style>
  .whatsapp {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 100;
  }

  .whatsapp__container {
    display: flex;
    justify-content: end;
  }

  .whatsapp__link {
  }

  .whatsapp__link img {
    display: block;
    width: 100%;
    height: auto;
  }

  .whatsapp__link img:hover {
    transform: translateY(-5px);
  }
</style>
