@import "../../styles/variables";

.footer {
  background: $color-footer;
  color: $font-color-max;

  & a {
    color: $font-color-max;

    &:hover {
      opacity: 0.7;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    padding-block: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__social-networks {
    display: flex;
    column-gap: 16px;
    align-items: center;

    &--icons {
      width: 24px;
      height: auto;
      fill: $font-color-max;
    }
  }

  &__contact-info {
    text-align: center;
  }

  &__legal {
    padding-top: 24px;
    padding-bottom: 80px;
    font-size: 12px;
  }
}

@media (width > 768px) {
  .footer {
    &__row {
      flex-direction: row;
      justify-content: space-between;
    }

    &__contact-info {
      text-align: left;
    }
  }
}
