---
import "@fontsource-variable/nunito"; // Supports weights 200-900
import "../styles/globals.scss";

import Nav from "../components/Nav/Nav.astro";
import WhatsappLink from "../components/WhatsappLink/WhatsappLink.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const year = new Date().getFullYear();

const WHATSAPP_URL = "https://api.whatsapp.com/send?phone=5491159790203";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Ignacio Fernández Jeansalle" />
    <meta
      name="keywords"
      content="BUCEO, BUCEO PADI ARGENTINA, Cursos de Buceo, Viajes de Buceo, Escuela de Buceo PADI en Capital Federal, Clases de Buceo, Buceo en Argentina, Open Water Diver, PADI Dive Center, Atlantida Diving School, SCUBA, centro internacional de buceo, cursos, viajes buceo, salidas, diving, dive, divecenter, buenos aires buceo, puerto madryn, buceo en patagonia, argentina, buceo en caribe, buceo en brasil, equipos de buceo, tanque, chalecos, trajes, neoprene, reguladores, buzo, bucear, aprender, la cuba de campo de mayo, buceo profesional, advanced, rescate, divemaster, instructor, nitrox, buceo profundo, experiencia, videosub, fotosub, efr, primeros auxilio, canteras salto uruguay, el terrible, padi divecheck, orca, ballenas, cozumel, submarinismo, agua, pileta climatizada, temporada verano, oxigeno, camara hiperbarica"
    />
    <link rel="icon" href="/favicon.png" />
  </head>
  <body>
    <header class="header">
      <Nav class="container" />
    </header>
    <main class="main container">
      <WhatsappLink url={WHATSAPP_URL} />
      <slot />
    </main>
    <Footer year={year} />
  </body>
</html>
