@import "../../styles/variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: $nav-padding-block;

  &__logo {
    img {
      display: block;
      width: 100%;
      height: $nav-height-content;
    }
  }

  &__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    background: $color-primary;
    box-shadow: $box-shadow-primary;
    padding: 48px 0;
    transition: top 0.5s;

    &--show {
      top: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    text-align: center;

    li {
      a {
        color: $font-color-min;
        font-size: 20px;
      }
    }
  }

  &__btn {
    &--close,
    &--open {
      width: 32px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: $font-color-min;
    }

    &--close {
      position: absolute;
      top: 18px;
      right: 16px;
    }
  }
}

@media (width > 768px) {
  .nav {
    &__menu {
      position: static;
      width: auto;
      padding: 0;
      box-shadow: none;
    }

    &__list {
      flex-direction: row;

      li {
        a {
          display: block;
          height: $nav-height-content * 0.75;
          line-height: $nav-height-content * 0.75;
          padding-inline: 12px;
          border-radius: 2px;
          font-size: 18px;

          &:hover {
            color: $color-primary;
            background: $font-color-min;
          }
        }
      }
    }

    &__btn {
      &--close,
      &--open {
        display: none;
      }
    }
  }
}
