---
import "./Nav.scss";
import MenuOpenIcon from "../icons/MenuOpenIcon.astro";
import MenuCloseIcon from "../icons/MenuCloseIcon.astro";

interface Props {
  class: string;
}
const { class: className } = Astro.props;
---

<nav class=`nav ${className}`>
  <a class="nav__logo" href="/">
    <img src="/logo-menu.webp" alt="Logo Atlántida Diving School" />
  </a>

  <div class="nav__menu" id="navMenu">
    <ul class="nav__list">
      <li><a href="/">Inicio</a></li>
      <li><a href="/cursos">Cursos</a></li>
      <li><a href="/buda">El Buda</a></li>
      <li><a href="/viajes">Viajes</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>

    <button class="nav__btn--close" id="navBtnClose">
      <MenuCloseIcon />
    </button>
  </div>

  <button class="nav__btn--open" id="navBtnOpen">
    <MenuOpenIcon />
  </button>
</nav>

<script src="./Nav.ts"></script>
